


/* Google Fonts Figtree import */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');


/* Google Fonts Montserrat import */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');



:root {

    /* Fonts */
    --primary-font: 'Figtree', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;


    /* Colors */
    --primary-color: #C5FFFD; /* dark brown */
    --secondary-color: #88D9E6; /* light brown */
    --highlight-color: #8B8BAE; /* blue */
    --highlight-color-light: #526760; /* light blue */
    --text-color: #374B4A; /* black */


}


/* Global Styles */

body {

    font-family: var(--primary-font);
}

h1,
h2,
h3 {

    font-family: var(--secondary-font);
    color: var(--primary-color);

}

h1,
h2 {

    text-transform: uppercase;

}

h2 {

    margin-bottom: 2rem;

}

.sub-heading-color {

    color: var(--highlight-color);
}

.section {

    margin-top: 2rem;
    margin-bottom: 2rem;

}

/* Navbar */


#navbar {

    background-color: var(--primary-color);
}

#navbar .logo {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

}

#navbar .nav-link {

    color: var(--text-color) !important;

}



/* Media queries */


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    /* Make all service cards the same height for consistency */
    #services .card-body {

        min-height: 191px;

    }



}

/* Large devices (Laptops, 992px and up) */
@media (min-width: 992px) {

    /* Make all service cards the same height for consistency */
    #services .card-body {

        min-height: auto;

    }

}

/* XL devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Make all service cards the same height for consistency */
    #services .card-body {

        min-height: 220px;

    }



}

/* XXL devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* Make all service cards the same height for consistency */
    #services .card-body {

        min-height: 195px;

    }



}
